@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-cream: #fff4eb;
  --color-text: #576d76;
  --color-link: #5898b3;
  --color-linkHover: #935881;
  --font-inter: "Inter", sans-serif;
}

html {
  background-color: #fff4eb;
}

html,
body {
  height: 100%;
  overscroll-behavior-y: contain;
}
